<!--login-navbar-->
<nav class="navbar navbar-expand-lg navbar-light my-nav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand ml-5 text-uppercase" href="#">Library</a>
    <form class="form-inline ms-auto mr-5">
      <a routerLink = "">HOME</a>
      <a routerLink = "/login">LOGIN</a>
      <a routerLink = "/signup">SIGN UP</a>
    </form>
  </div>
</nav>
<!--login-navbar ends-->

 <section
  id="home"
  [ngStyle]="{ backgroundImage: 'url(assets/images/login-bg.jpg)' }"
  class="d-flex flex-column justify-content-center align-items-center"> 

   <div class ="container login-section">
  <h3 class="text-uppercase">Log In</h3><br>
        <form  #form="ngForm" (ngSubmit)="form.valid &&onsubmit()">
        <label for="email" >Email</label>
        <input type="email" class="form-control" name="eml" required #email="ngModel" [(ngModel)]="user.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        <label class="text-danger" *ngIf="form.submitted && email.errors?.['required'] "> enter email</label>
        <label class="text-danger" *ngIf="form.submitted && email.errors?.['pattern']"> enter valid email</label>
        <br><br>
        <label for="password" >Password</label><br>
        <input type="password" class="form-control" name="pas" required #pass="ngModel" [(ngModel)]="user.pass" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$">
        <label class="text-danger" *ngIf="form.submitted && pass.errors?.['required'] "> enter password</label>
        <label class="text-danger" *ngIf="form.submitted && pass.errors?.['pattern']"> enter valid password</label>

        <br><br>
        <button type="submit"class="btn btn-danger btn-lg text-uppercase">Log In</button><br><br>
        <p id="pp">need an account? &nbsp; &nbsp;<a routerLink="/signup">SignUp</a></p>
        
    </form>
    </div> 
 </section> 
   








  