<!--landing-navbar-->
<nav class="navbar navbar-expand-lg navbar-light my-nav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand ml-5 text-uppercase" href="#">Library</a>
    <form class="form-inline ms-auto mr-5">
      <a routerLink = "/login"><button class="btn btn-lg mr-4" type="submit">Login</button></a>
      <a routerLink = "/signup"><button class="btn btn-lg" type="submit">Sign Up</button></a>
    </form>
  </div>
</nav>
<!--landing-navbar ends-->
<!--bg-image-->

<section
id="home"
[ngStyle]="{ backgroundImage: 'url(assets/images/home1.jpg)'} "
></section>

<!--bg-image ends-->
